<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <br><%= image_tag @user.avatar.url(:thumb) %>
        <br><%= @user.name %>
        <%= link_to "Edit profile", edit_user_path %>
          <br><b><h1>Friends list</h1></b>
          <% @user.friendships.each do |friendship| %><br />
              <%= friendship.friend.name %>
              <%= link_to "remove", friendships_destroy_url(friendship), :method => :delete %>
          <%end%>
      </h1>
      <br><b><h1>Friended by users</h1></b>
      <ul>
        <br><% for user in @user.inverse_friends %>
            <li><%=h user.name %></li>
            <%= link_to "remove", user, :method => :delete %>
        <% end %>
      </ul>

    </section>
  </aside>
</div>